* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}

.main-visual {
	width: 100%;
	height: 400px;
	background-image: url(img/mv.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-visual-text {
	padding: 20px;
}

main {
	width: 840px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}



.blog {
	border-bottom: 2px solid #f7f7f7;
	text-align: left;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.blog-data {
	text-align: left;
}