* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.main {
	position: relative;
	width: 960px;
	margin-top: 50px;
	margin: 50px auto;
	background: #fff;
}

.text-box {
	position: relative;
	border: 1px solid #eee;
	width: 300px;
	background: #fff;
	float: left;
}

.text-box:nth-child(2) {
	margin: 0 30px;
}

.text-img {
	width: 280px;
	height: 150px;
	object-fit: cover;
	object-position: 0% 96%;
	margin: 9px;
}

.step {
	position: absolute;
	left: 0;
	background: #ff9933;
	color: #fff;
	padding: 3px;
	}

.title {
	margin-left: 10px;
	color: #000000;
}

.text {
	position: ;
	margin: 10px;
	color:  #000000;
}